    body {
        margin: 0;
        padding: 0;
    }
    .wraper {
        width: 100%;
        margin: 10px auto;
        height: 100%;
    }

    /****** Navigation styling *******/

    .iso-nav {
        text-align: center;
    }

    /****** Main portfolio styling ********/

    .main-iso {
        width: 100%;
        margin: auto; 
        
    }

    /* Pour la taille des containers (CUBE) */
    .main-iso .item {
        width: 200px;
        height: 143px;
        float: left;
        margin-bottom: 10px;
        margin-right: 2px;
    }

    .iso-nav ul li{
        display: inline-block;
        margin-right: 30px;
    }

    ul img{
        width: 40px;
    }

    ul li:nth-child(4) img, ul li:nth-child(5) img{
        width: 30px;
    }

    /*  Section CUBE  */
    
    .taille_a{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 143px;
        color: #fff;
    }

    .taille_img{
        width: 100%;
        height: 100%;
    }

    /*  Affichage titre et texte  */
    .affichage_text{
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0);
    margin: 1rem;
    text-align: justify;
    }

    a:hover .affichage_text{
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(255, 255, 255, 100);
        transition: 2s;
    }

    .affichage_titre{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 100);
    }

    a:hover .affichage_titre{
        color: rgba(255, 255, 255, 0);
        transition: 1s;
    }

    /*  Récompenses (Palmes d'Or, Césars, Oscars, Ours d'Or, etc ...)  */
    .couleur_recompenses {

        background-color: rgba(73, 106, 191, 1);
    }

    .couleur_recompenses:hover{
        background-color: rgba(73, 106, 191, 0);

        transition: .5s;
    }

    /*  Sélections personnelles, propres à l'utilisateur connecté (vus, à voir, préférés, etc ...)  */
    .couleur_selectionsPerso {

        background-color: rgba(49, 71, 127, 1);
    }

    .couleur_selectionsPerso:hover{
        background-color: rgba(49, 71, 127, 0);

        transition: .5s;
    }

    /*  Genres (aventure, comédie dramatique, comédie, policier, drame, etc ...) */
    .couleur_genres {

        background-color: rgba(24, 35, 64, 1);
    }

    .couleur_genres:hover{
        background-color: rgba(24, 35, 64, 0);
        transition: .5s;
    }

    /*  Autre (classiques, cultes, UGC, CDC, etc ...)  */
    .couleur_autres {

        background-color: rgba(97, 142, 255, 1);
    }

    .couleur_autres:hover{
        background-color: rgba(97, 142, 255, 0);

        transition: .5s;
    }
