/*body css*/
	html{
		font-size: 62.5%;
	}
	body{
		max-width: 100%;
		margin: auto;
		font-size: 1.5rem;

	}
	
	li img, li{
		cursor: pointer;
	}

/*Modification au niveau de l'image du header*/
	.img_header{
		width: 100%;
		margin-top: 5rem;
	}
	.img_header img{
		max-width: 100%;
	}

/* Modification au niveau de la nav */
	.navbar-header .navbar-brand{
		color: black;
		position: fixed;
	}
	.navbar-inverse{
	    background-color: #ffffff;
	    border-color: #ffffff;
	}

	.navbar-nav{

	}

	.nav2{
		float: none;
		width: 31rem;
		margin: auto;
	}

	.nav2 li{
		float: left;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		color: #dfc11f;
	}

	.navbar-inverse .navbar-nav>li>a:hover{
		color: #dfc11f;
	}
/* Modification au niveau du slider */
	/*.carousel{
		width: 100%;
		height: 50%;
		margin:auto;
	}*/


/*Modification au niveau du header image*/

	header{
		max-width: 100%;
	}

	header img{
		max-width: 100%;
	}


/* Modification au niveau de la premiere section */
	.navbar-brand h1{
		font-size: 2rem;
	    margin-top: 0;
	    margin-bottom: 0;
	}

/* Modification au niveau de la deuxieme nav*/

	.container #deuxieme{
		text-align: center;
	}

	.container{
		width: 100%;
	}

/* Modification au niveau du footer font awesome */

	.fa{
		font-size: 2rem;
		margin-right: 2rem;
	}

	.row_footer_first{
		margin-bottom: 1rem;
	}

	.h4_margin{
		margin-top: 1rem;
	}

/*  */

.col-md-8 p{
	text-align: justify;
}

.fin{
	background-color: #272424;
	color: #fff;
}

.fin p{
	margin-top: 0;
	margin-bottom: 0;
}

footer .row:nth-child(1){
	margin-bottom: 2rem;
	margin-left: 0;
	margin-right: 0;
}

.container_footer{
	padding-right: 0;
	padding-left: 0;
}

.last_row{
	padding-left: 16px;
}